*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "davat";
    font-size: 20px;
    font-weight: bolder;
}

:root{
    --secondary-color:#733e2c;
    --sixth: url("https://media-cdn.tripadvisor.com/media/photo-s/10/e5/73/92/photo1jpg.jpg");
    
}
.container{
     background: url("https://media-cdn.tripadvisor.com/media/photo-s/10/e5/73/92/photo1jpg.jpg");
    background-position:center;
    background-size: cover;
    
    min-height: 100vh;
    
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 10px  0 0 150px;
}
nav a{
    font-size: 40px;
    color: #fff;
    text-decoration: none;
    padding: 20px;
    text-align: center;
}
nav{
    position: fixed;
    left:0;
    z-index:50;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100vh;
    background: var(--secondary-color);
}
section{
    position: absolute;
    top: 0;
    height: 100vh;
    width: 0;
    opacity: 0;
    transition: all ease-in 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}
section h1{
    color: #fff;
    font-size: 50px;
    text-transform: uppercase;
    opacity: 0;
}
section:target{
    opacity: 1;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}
section:target h1{
    opacity: 0;
    animation: 2s fadein forwards 0.5s;
}
#first{
   
    background: rgb(222,198,191);
    background: linear-gradient(247deg, rgba(222,198,191,1) 0%, rgb(228, 157, 107) 100%); 

}
#second{
  
background: rgb(222,198,191);
background: linear-gradient(247deg, rgba(222,198,191,1) 0%, rgb(127, 108, 69) 100%); 
}
#third{
    background: rgb(222,198,191);
    background: linear-gradient(247deg, rgba(222,198,191,1) 0%, rgba(238,234,116,1) 100%); 
}
#fourth{
    background: rgb(222,198,191);
    background: linear-gradient(247deg, rgba(222,198,191,1) 0%, rgb(249, 179, 128) 100%); 
}
#fifth{
    background: rgb(222,198,191);
background: linear-gradient(247deg,  rgb(180, 129, 129) 100%,rgba(222,198,191,1) 0%); 
}
@keyframes fadein{
    100%{
        opacity: 1;
    }
}
.box h1{
    font-size: xx-large;
}
.box{
    height: 15em;
    width: 10em;
    background-color: #dec6bf;
    border-radius: 6px;
  padding: 16px;
  overflow: hidden;
  transform: translate(0);
  transition: 0.6s;
  margin: 10px;

}
.box::before {
    content: "";
    position: absolute;
    top: -90px;
    left: -120px;
    z-index: -1;
    background: linear-gradient(to right, rgb(143, 75, 75), rgb(232, 127, 127));
    border-radius: 50%;
    width: 300px;
    height: 300px;
    animation: 4s animation-div-before infinite ease-in-out;
  }
  
  .box::after {
    content: "";
    position: absolute;
    top: -110px;
    right: -100px;
    z-index: -1;
    background: linear-gradient(to right, rgb(79, 2, 2), rgb(143, 75, 75));
    border-radius: 50%;
    width: 280px;
    height: 280px;
    opacity: 0.9;
    animation: 4s animation-div-after infinite ease-in-out;
  }
  /* .box:nth-child(2n+1)::before {
    content: "";
    position: absolute;
    top: -90px;
    left: -120px;
    z-index: -1;
    background: linear-gradient(to right, rgb(79, 2, 2), rgb(143, 75, 75));
    border-radius: 50%;
    width: 300px;
    height: 300px;
    animation: 4s animation-div-before infinite ease-in-out;
  }
  
  .box:nth-child(2n+1)::after {
    content: "";
    position: absolute;
    top: -110px;
    right: -100px;
    z-index: -1;
    background: linear-gradient(to right, rgb(143, 75, 75), rgb(232, 127, 127));
    border-radius: 50%;
    width: 280px;
    height: 280px;
    opacity: 0.9;
    animation: 4s animation-div-after infinite ease-in-out;
  } */
  
  @keyframes animation-div-before {
    0% {
      top: -90px;
      left: -120px;
    }
    50% {
      top: -65px;
      left: -130px;
    }
    100% {
      top: -90px;
      left: -120px;
    }
  }
  
  @keyframes animation-div-after {
    0% {
      top: -110px;
      right: -100px;
    }
    50% {
      top: -120px;
      right: -120px;
    }
    100% {
      top: -110px;
      right: -100px;
    }
  }
  
img{
    width: 7em;
    height: 7em;
    border-radius: 50%;
    
}
div h1{
    color: black;
}
#sixth{
    background: var(--sixth);
    background-position:center;
    background-size: cover;
}
#contact{
    width: 15rm;
    height: 50rm;
    padding: 50px;
    border: burlywood solid 5px;
    background-color: aliceblue;
    display:flex;
    color: #4a281d;
    border-radius: 5px;
}
#contact img{
    border-radius: 50%;
    margin-right: 30px;

}
@media screen and (min-width:600px  )and (max-height:500px) and (orientation:landscape) {
    img{
        width: 6em;
        height: 6em; 
    }
    .box{
        width:8em;
        height: 13em;
        margin-left: 5em;
        margin-bottom: 2em;
    }
    div h1{
        font-size: 1em;
    }
    nav a{
        font-size: 20px;
        padding: 10px;

        
    }
    nav{
        height: 100%;
       
    }
    .container{
       background-position:inherit; 
     background-repeat: no-repeat;
     background-size: cover;
     height: 100%;
     display: flex;
     align-items: flex-start;
     justify-content: space-evenly;
     flex-direction: row-reverse;
     margin-left: 10em;
   
    }
    #first,#second,#third,#fourth,#fifth{
        overflow:scroll;
     height: 100%;
    }
   
    
    section:not(#sixth){
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    #sixth{
        margin-top: 0px;
    }
 
    #contact img{
                border-radius: 50%;
                margin-right: 0;
                display: inline-block;
                width: 7em;
                height: 7em;
            
    }
    
}

@media  screen and (min-width:800px) and (max-width:1400px) and (orientation:portrait){
    body{
        overflow: hidden;
    }
    #first,#second,#third,#fourth,#fifth{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-top: 0;
        
    }
   
    .container{
        height: 100vh;
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        flex-direction: row-reverse;
       
    }
    #first,#second,#third,#fourth,#fifth,#sixth{
        
        height:100vh;
       }
      


    
}
@media  screen and (min-height:800px) and (max-height:1400px) and (orientation:landscape){
    body{
        overflow: hidden;
    }
    #first,#second,#third,#fourth,#fifth{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-top: 0;
        
    }}
@media screen and (min-height:600px  )and (max-width:500px) and (orientation:portrait){
    
    img{
        width: 6em;
        height: 6em; 
    }
    .box{
        width: 8em;
        height: 16em;
        margin-left: 5em;
        margin-bottom: 2em;
       
        
    }
    div h1{
        font-size: 1em;
    }
    nav a{
        font-size: 20px;
        padding: 10px;

        
    }
    nav{
        height: 100%;
       
    }
   
    
    section:not(#sixth){
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    #contact img{
        border-radius: 50%;
        width: 7em;
        height: 7em;
            
    }
    
     body{
        height: 250vh;
        
    }
    #sixth{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: wrap;
        overflow: hidden;
    } 
    #contact{
        width: 12.5em;
        height: 30em;
        justify-content: center;
        align-items: center;
        text-align: center;
        display: block;
            }
    #first,#second,#third,#fourth,#fifth,#sixth{
       
     height: 350vh;
    }
    }
