*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "davat";
    font-size: 20px;
    font-weight: bolder;
}
:root{
     /* --primary-color:#f6d5cd; */
    --secondary-color:#733e2c;
    /* --complimentary-color:#a8f6ad;
    --contrast-color:#edfa90;
    --light-color:#f9be70; */
    /* --fifth:#84ddef; */
    --sixth: url("https://media-cdn.tripadvisor.com/media/photo-s/10/e5/73/92/photo1jpg.jpg");
    
}
.container{
     background: url("https://media-cdn.tripadvisor.com/media/photo-s/10/e5/73/92/photo1jpg.jpg");
    background-position:center;
    background-size: cover;
    /* background-position:inherit; */
    /* background-repeat: no-repeat; */
    min-height: 100vh;
    /* font-family: montserrat,sans-serif; */
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 10px  0 0 150px;
}
nav a{
    font-size: 40px;
    color: #fff;
    text-decoration: none;
    padding: 20px;
    text-align: center;
}
nav{
    position: fixed;
    left:0;
    z-index: 50;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100vh;
    background: var(--secondary-color);
}
section{
    position: absolute;
    top: 0;
    height: 100vh;
    width: 0;
    opacity: 0;
    transition: all ease-in 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}
section h1{
    color: #fff;
    font-size: 50px;
    text-transform: uppercase;
    opacity: 0;
}
section:target{
    opacity: 1;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}
section:target h1{
    opacity: 0;
    animation: 2s fadein forwards 0.5s;
}
#first{
    /* background: var(--primary-color); */
   
    background: rgb(222,198,191);
    background: linear-gradient(247deg, rgba(222,198,191,1) 0%, rgb(228, 157, 107) 100%); 

}
#second{
  
background: rgb(222,198,191);
background: linear-gradient(247deg, rgba(222,198,191,1) 0%, rgba(228,152,0,1) 100%); 
}
#third{
    background: rgb(222,198,191);
    background: linear-gradient(247deg, rgba(222,198,191,1) 0%, rgba(238,234,116,1) 100%); 
}
#fourth{
    background: rgb(222,198,191);
    background: linear-gradient(247deg, rgba(222,198,191,1) 0%, rgba(252,107,5,1) 100%); 
}
#fifth{
    background: rgb(222,198,191);
background: linear-gradient(247deg, rgba(222,198,191,1) 0%, rgba(249,27,27,1) 100%); 
}
@keyframes fadein{
    100%{
        opacity: 1;
    }
}
.box{
    height: 20em;
    width: 10em;
    border: 10px solid rgb(143, 75, 75);
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #dec6bf;
    margin-left: 17px;
    

}
img{
    width: 10em;
    height: 10em;
    /* border-radius: 50%; */
}
div h1{
    color: black;
}
#sixth{
    background: var(--sixth);
    background-position:center;
    background-size: cover;
}
#contact{
    width: 15rm;
    height: 50rm;
    padding: 50px;
    border: burlywood solid 5px;
    background-color: aliceblue;
    display:flex;
    color: #4a281d;
    border-radius: 5px;
}
#contact img{
    border-radius: 50%;
    margin-right: 30px;

}
@media screen and (max-width:900px) {
    .container{
    display: block;
       background-position:inherit; 
     background-repeat: no-repeat;
     background-size: cover;
     
     /* height: 100vh; */
    }
    .box{
        margin-bottom: 10px;

    }
    section{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        flex-wrap: wrap;
    }
    /* #sixth{
        justify-content: center;
        align-items: center;
        text-align: center;
    } */
    #contact{
        width: 30vh;
        height: 80vh;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        flex-wrap: wrap;
        /* margin-left: 10px; */
        padding: 0%;
            }
     #contact img{
                border-radius: 50%;
                margin-right: 0;
                display: block;
            
            }
    
}
@media screen and (min-width:800px ){
    #sixth{
        justify-content: center;
        align-items: center;
        text-align: center;
    } 
    #contact{
        width: 15em;
        height: 20em;
        /* display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        flex-wrap: wrap; */
        /* margin-left: 10px; */
        padding: 0%;
            }
}